body {
    background-color: #011F3F;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn {
    padding: 6rem 7rem;
    font-size: 3.5em;
    border: 10px solid black;
    border-radius: 2rem;
    transition: ease-in-out;
    cursor: pointer;
}